[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
	branch = v3.6.1
[submodule "third_party/curlpp"]
	path = third_party/curlpp
	url = https://github.com/jpbarrette/curlpp.git
	branch = master
